.App {
  background-color: #FFFBF4;
  text-align: center;
}

.input-container {
  height: 45px;
  margin: 0 auto;
  width: auto;

  input {
    background-image: url("https://19498232.fs1.hubspotusercontent-na1.net/hubfs/19498232/Deel/Images/icon-search-skin-1.svg");
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    border: 1px solid;
    border-color: #9da3a8;
    border-radius: 8px;
    padding: 10px 24px;
    width: 350px;
  }
}

.options-list {
  list-style: none;
  padding-inline-start: 0;
  text-align: left;
  width: 300px;

  li {
    &:hover {
      background-color: aqua;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
